.order_info_content .order_text input {
  width: 100%;
  padding: 0px 15px;
  border: 1px solid #f5f5f5;
  font-size: 14px;
  margin: 0;
}
.order_pay {
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 55px;
  background: #ffffff;
  border-bottom: 1px solid #efefef;
  border-top: 1px solid #efefef;
  position: absolute;
  bottom: 0px;
  padding-left: 20px;
  line-height: 55px;
}
.order_pay span {
  color: #4038a5;
}
.order_pay > button {
  width: 100px;
  background: #4038a5;
  text-align: center;
  line-height: 40px;
  color: white;
  border: none;
  border-radius: 0;
}
.order_layer {
  width: 100%;
  height: 100%;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 45px;
  background: #f5f5f5;
  z-index: 999;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.order_layer .order_layer_content {
  width: 100%;
  height: 100%;
  position: relative;
}
.order_layer .site_box {
  padding: 15px 10px 40px 10px ;
  width: 100%;
}
.order_layer .site_box .site_list {
  width: 100%;
  background: white;
  padding: 10px 15px 5px 15px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.order_layer .site_box .site_list .site_name {
  display: flex;
  justify-content: space-between;
}
.order_layer .site_box .site_list .site_name > p,
.order_layer .site_box .site_list .site_name span {
  font-size: 14px;
  color: #333333;
}
.order_layer .site_box .site_list .site_info {
  display: flex;
  margin-top: 6px;
}
.order_layer .site_box .site_list .site_info span {
  width: 14px;
  height: 16px;
  background: url('../images/site.png');
  display: inline-block;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  vertical-align: top;
  position: absolute;
}
.order_layer .site_box .site_list .site_info p {
  display: inline-block;
  color: #666666;
  margin-left: 20px;
  vertical-align: top;
}
.order_layer .site_box .site_list .site_moren {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.order_layer .site_box .site_list .site_moren .site_more_span {
  position: absolute;
  top: 6px;
  left: 33px;
  font-size: 14px;
  color: #333333;
}
.order_layer .site_box .site_list .site_moren > p {
  margin-top: 5px;
}
.order_layer .site_box .site_list .site_moren > p img {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}
.order_layer .site_box .site_list .site_moren > p span {
  margin-left: 10px;
  color: #666666;
}
.order_layer .site_bottom {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 5px;
  z-index: 9999;
}
.order_layer .site_bottom button {
  color: white;
  font-size: 16px;
  width: 280px;
  height: 42px;
  text-align: center;
  line-height: 33px;
  background: -webkit-linear-gradient(left, #7a55f3, #2ee2df);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #7a55f3, #2ee2df);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #7a55f3, #2ee2df);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #7a55f3, #2ee2df);
  border-radius: 50px;
}
